# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Xcode user data
xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

## Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

## CocoaPods
Pods/

## Carthage
Carthage/Build/

## Fastlane
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
